{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html>

<body>
  {% block content %}
  <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center;">
    <h1 class="header">Dashboard</h1>
    <h5>Hello, {{ request.user.username }}</h5>
    {% if company %}
    <h6>Company: {{ company }}</h6>
    {% endif %}
    <p>Welcome to your Page</p>
    <div style="display: flex; flex-direction: column; width: 200px;">
      {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
      {% endif %}

      <!-- Create Company Button -->
      <form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary w-100">Create</button>
      </form>

      <p></p>

      <!-- Invite New UserButton -->
      <form method="post" action="{% url 'send-invite' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary w-100">Invite</button>
      </form>

      <p></p>

      <!-- Logout Button -->
      <form method="post" action="{% url 'account_logout' %}" style="margin-bottom: 10px;">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        {% trans "Logout" as button_text %}
        {% bootstrap_button button_text button_type="submit" extra_classes="secondaryAction w-100" %}
      </form>

      <!-- Change Email Button -->
      <form method="post" action="{% url 'account_email' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        {% trans "Change Email" as button_text %}
        {% bootstrap_button button_text button_type="submit" extra_classes="secondaryAction w-100" %}
      </form>
    
    </div>
  </div>
  {% endblock %}
</body>

</html>
